{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'css/images/favicon-20171024111016662.ico' %}" />
    <title>新密碼設定成功</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div>
            <h1 class="logo"><a href="{% url 'index' %}">地震資訊系統</a></h1>
            <h3>新密碼設定成功</h3>
            <p>
                您的設定已經完成。現在您可以繼續進行登入。
            </p>
        </div>
    </div>
</div>
</body>
</html>