@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900);
body{
  background: #eceff1;
}
#bodyTitle{
  margin-top: 25px;
  padding-left: calc((100% - 224px)/2);
  padding-right: calc((100% - 224px)/2);
}
.widget{
  padding: 10px;
  padding-left: calc((100% - 250px)/2);
  padding-right: calc((100% - 250px)/2);
}


.accordion-header, .ui-accordion-content {
  width: 250px;
}

#IEcanvas{
  top:0px;left:-30px;
}

@media (min-width: 1024px){
  .container {
    width: 1000px;
  }
  .accordion-header, .ui-accordion-content {
    width: 280px;
  }
  .widget{
    padding: 10px;
    border-left: 10px;
    padding-left: 15%;
  }
}

@media (min-width: 1300px){
  .container {
    width: 1280px;
  }
  .accordion-header, .ui-accordion-content {
  width: 300px;
  }
}


