{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <script type="text/javascript">
        var before_loadtime = new Date().getTime();
        window.onload = Pageloadtime;
        function Pageloadtime() {
            var aftr_loadtime = new Date().getTime();
            // Time calculating in seconds
            pgloadtime = (aftr_loadtime - before_loadtime) / 1000
            document.getElementById("loadtime").innerHTML = "頁面載入時間為 <font color='red'><b>" + pgloadtime + "</b></font> 秒";
        }
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel='shortcut icon' type='image/x-icon' href="{% static 'css/images/favicon-20171024111016662.ico' %}" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>地震資訊中心</title>
    </head>
    <body>
        <div class="container">
            <h2> 地震資訊查詢 </h2>
            <p>台灣地震資料 從 1995年1月5日 00:00 至 {{ now }} </p>
            <table id="earthquake_list_table" 
                class="display table  table-hover" 
                data-toggle="table"
                data-url="{% url 'get_earthquake_data' %}"
                data-method="get"
                data-pagination="true"
                data-side-pagination="server"
                data-page-list="[10, 20, 50, 100, 200, 500, 1000]"
                data-search="true" data-mobile-responsive="true" searchOnEnterKey="true"
                data-show-refresh="true" data-show-columns="true"
                data-show-toggle="true" data-page-size=10 data-unique-id="earthquake_id"
                data-striped="true"
                >
                <thead>
                    <tr>
                        <th data-field="earthquake_id" data-align="center" data-sortable="true"> 編號 </th>
                        <th data-field="earthquake_ear_id" data-align="center" data-sortable="true"> 地震編號 </th>
                        <th data-field="earthquake_s_year" data-align="center" data-sortable="true"> 年份 </th>
                        <th data-field="earthquake_ear_time" data-align="center" data-sortable="true"> 台灣時間 </th>
                        <th data-field="earthquake_ear_longitude" data-align="center" data-sortable="true"> 經度 </th>
                        <th data-field="earthquake_ear_latitude" data-align="center" data-sortable="true"> 緯度 </th>
                        <th data-field="earthquake_ear_scale" data-align="center" data-sortable="true"> 規模 </th>
                        <th data-field="earthquake_ear_deep" data-align="center" data-sortable="true"> 深度 </th>
                        <th data-field="earthquake_ear_epicenter_pos" data-align="center" data-sortable="true"> 震央位置 </th>
                    </tr>
                </thead>
            </table>
            <div>
                <span id="loadtime"></span>
            </div>
        </div>
        
        <script  src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{%static 'js/bootstrap-table.js'%}"></script>
    </body>
    </html>