{%load static%}
<!doctype html>
<html>
        <head>
                <title>Line Chart</title>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
                <script src="{%static 'js/excanvas.js'%}"></script>
                <script src="{%static 'js/Chart.min.js'%}"></script>
                <script type="text/javascript" src="{%static 'js/chart-examples.js'%}"></script>

        
                <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
        </head>
        <body onload="load()">
                <canvas id="canvas2" height="450" width="600"></canvas>


        
        
      
        </body>
</html>