{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>test</title>
		<!--[if lte IE 9]>
		<script type="text/javascript" src="jquery.xdomainrequest.min.js"></script>
		<![endif]-->
		<link rel='shortcut icon' type='image/x-icon' href="{% static 'css/images/favicon-20171024111016662.ico' %}" />
	</head>
	<body>


         <input type="text" id="inputTarget">
         <div id="data"></div>








	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="http://builds.emberjs.com/release/ember-template-compiler.js"></script>
    <script src="{% static 'js/chart-examples.js' %}" type="text/javascript" charset="utf-8"></script>
	
	<!--<script src="https://cdn.bootcss.com/vue/2.1.0/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.0/axios.js"></script>-->
	</body>
</html>